CONFIG_IDF_TARGET="esp32s3"

# Enable USB Host OTG Driver
CONFIG_USB_HOST_CONTROL_TRANSFER_MAX_SIZE=1024
CONFIG_USB_HOST_HW_BUFFER_BIAS_IN=y

# Direct Console Output to USB CDC / Serial JTAG (/dev/ttyACM0)
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

# FreeRTOS & CPU Frequency
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240
